@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
  }
}
/* layout */
.layout-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(2, auto);
}

/* ui */
.input-form {
  @apply block bg-neutral-200 h-12 rounded-xl p-3 login-text font-semibold text-gray-200;
}

.login-header {
  @apply font-semibold text-5xl leading-12 tracking-tighter text-neutral-700 mb-8;
}

.login-text {
  @apply text-tiny leading-6 tracking-tightest;
}

.hover-sidebar {
  @apply hover:bg-neutral-300 hover:cursor-pointer hover:shadow-nav hover:shadow-white rounded-xl;
}
.active-sidebar {
  @apply active:bg-neutral-300 active:cursor-pointer active:shadow-nav active:shadow-white rounded-xl;
}
.hover-link {
  @apply hover:cursor-pointer hover:underline;
}
.header {
  @apply font-semibold text-4xl tracking-["-0.02em"];
}

.prodOverview {
  @apply bg-neutral-100 rounded-[20px];
}

.text {
  @apply font-semibold text-xl leading-8 tracking-["-0.02em"];
}

.home-card {
  @apply w-72 h-48 rounded-xl;
}

.subText {
  @apply font-semibold text-[13px] leading-4 tracking-tightest;
}

.count {
  @apply font-semibold text-5xl leading-12 tracking-tighter text-neutral-700;
}

.catch-border {
  @apply p-4 w-80  border-2 border-neutral-300 rounded-xl  flex items-center active:border-primary disabled:bg-neutral-200 disabled:text-neutral-400;
}

.catch-button {
  @apply w-80 py-3 px-5 bg-primary text-white rounded-xl;
}
